/bin/
*/bin/
**/bin/
*/target/**
*/.classpath
.eclipse-pmd
*/.springBeans
*/.pmd
*/reports/**
*.log
*.class
.pmd
*/.springBeans
*/**/*.orig
static/js/**
static/css/**
static/img/**
static/images/**
static/fonts/**
static/target/**
.project
**/.settings/
**/.classpath
**/target
**/.DS_Store
*.iml
.idea/
